<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div>
        <img class="image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Greek_uc_sigma.svg/800px-Greek_uc_sigma.svg.png" width="200px";
        height= "200px" 
         />
       
 
    <h4>Maram Alfawaz</h4>
    <h4>Sarah Althobaiti</h4>
    <h4>Hanan Alsahli</h4>
</div>
</body>
</html>