<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books Recommendations</title>
    <link rel="stylesheet" href="/css/main.css" />

</head>
<body>
    <div class="appBar1">Home Page</div>
</body>
</html>