<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/HomePage.css" />
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Home Page</title>
</head>

<body>
    <header class="homeHeader">
        <div class="container">
            <nav>
                <ul class="navigation" id="homeNav">
                    <li> <a href="#about">About</a></li>
                    <li> <a href="#quetes">Books</a></li>
                    <li> <a href="#contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <section id="about">
        <div class="about">
            <div id="aboutTopic">
                <h1 style="font-size: 70px; margin-right: 700px;">GOOD READERS</h1>
            </div>
            <br>
            <div id="aboutText">
                <p class="aboutParagraph"> “A reader lives a thousand lives before he dies ... <br> The man who never reads lives only one.” 
                </p>
                <br> <br>
                <p class="aboutParagraph">GOOD READERS is the world’s largest site <br> for readers and book recommendations. 
                Our <br> mission is to help people find and share books <br> they love. GOOD READERS launched in 2020 year.</p>
            </div>

        </div>
    </section>
    <div class="page-content" id="quetes">
        <div class="card">
            <div class="content">
                <h2 class="title">Psychology </h2>
                <p class="copy">Discover the Hidden Power of Empathy!!</p>
                <a href="/auth/signup" target="_blank">
                    <button class="btn">more</button>
                    </a>           </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">‏Arts Section</h2>
                <p class="copy">“Everything you can imagine is real.”
                    </p>
                    <a href="/auth/signup" target="_blank">
                        <button class="btn">more</button>
                        </a>            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title"> Science </h2>
                <p class="copy">Be an intelligent programmer!</p>
                <a href="/auth/signup" target="_blank">
                    <button class="btn">more</button>
                    </a>            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Horror</h2>
                <p class="copy">Don't be scary Girl!</p>
                <a href="/auth/signup" target="_blank">
                    <button class="btn">more</button>
                    </a>            </div>
        </div>

        <div class="card">
            <div class="content">
                <h2 class="title">Classics</h2>
                <p class="copy">The world is a book and those who do not travel read only one page.</p>
                <a href="/auth/signup" target="_blank">
                    <button class="btn">more</button>
                    </a>           </div>
        </div>

        <div class="card">
            <div class="content">
                <h2 class="title">Travel</h2>
                <p class="copy">“Adventure is worthwhile.” </p>
                <a href="/auth/signup" target="_blank">
                    <button class="btn">more</button>
                    </a>            </div>
        </div>

        <div class="card">
            <div class="content">
                <h2 class="title">History</h2>
                <p class="copy">“History is the best teacher.”</p>
                <a href="/auth/signup" target="_blank">
                    <button class="btn">more</button>
                    </a>           </div>
        </div>

        <div class="card">
            <div class="content">
                <h2 class="title">Manga</h2>
                <p class="copy">“I just want to be good enough”</p>
                <a href="/auth/signup" target="_blank">
                    <button class="btn">more</button>
                    </a>
               
            </div>
        </div>
    </div>

<!-- Site footer -->
<div class="site-footer">
    <div class="container">
        <div class="row">

            <ul class="social-icons">
                <a class="social-icon social-icon--github" href="https://git.generalassemb.ly/Maram-Alfawaz/project_2">
                    <i class="fa fa-github"></i>
                    <div class="tooltip">Github</div>
                </a>

                <a class="social-icon social-icon--linkedin"
                    href="https://www.linkedin.com/in/sarah-althobaiti-607420198/">
                    <i class="fa fa-linkedin"></i>
                    <div class="tooltip">LinkedIn</div>
                </a>

                <a class="social-icon social-icon--twitter" href="https://twitter.com/hananalsahli02">
                    <i class="fa fa-twitter"></i>
                    <div class="tooltip">Twitter</div>
                </a>
            </ul>
            <div class="footer-text">
                <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
                    <a href="#">Sigma Group</a>.
                </p>
            </div>
        </div>

    </div>
</div>


</body>

</html>