/* layout.ejs nav style */
  body {
    font-family: 'Helvetica', Arial, sans-serif;
    /* height of nav */
    line-height: 1;
    font-weight: bold;
    text-align: center;
    background-color: rgb(226, 226, 225);
  }
  .container {
    /* organize nav content */
    max-width: 70%;
    margin: 0 auto;
  }
  .layoutheader {
    background: rgba(175, 96, 32, 0.5);
  }
  .logo {
    color: white;
    text-transform: uppercase;
  }
  .logo a {
    display: block;
    text-decoration: none;
    color: rgb(218, 200, 188);
    margin-top: 6px;
  }
  .logo a:hover {
    text-decoration: none;
    color: white;
  }
  .navigation {
    list-style: none;
  }
  .navigation li {
    display: block;
    padding: .5em;
  }
  .navigation a {
    display: block;
    text-decoration: none;
    color: rgb(218, 200, 188);
  }
  .navigation a:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
    .navigation li {
      display: inline-block;
    }
  @media (min-width: 900px) {
    .logo {
      float: left;
    }
    .navigation {
      float: right;
    }
    /* nav with baclground */
    .navigation li {
     margin-top: 6px;
    }
    header::after {
      content: "";
      display: table;
      clear: both;
    }
  }
  /* qouote style */
.qouteindex
{
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  display: grid;
	grid-template-columns: repeat(4,1fr);
}
*
{
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.qh1 {
  font-size: 30px;
  font-weight:700;
  color: rgb(172, 106, 80);
}
.qh2
{
  margin:0px;
  font-size:1.4em;
  font-weight:700;
}
.qp
{
  font-size:12px;
}
.center
{
  height:100%;
  width:100%;
  padding:0em auto;
}
/* End Non-Essential  */
.property-card
{
  height:18em;
  width:14em;
  margin:5% auto;
  position:relative;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius:16px;
  overflow:hidden;
  -webkit-box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  box-shadow:  15px 15px 27px #c2aea1, -15px -15px 27px #c2aea1;
  margin-bottom:3em;
}
/* ^-- The margin bottom is necessary for the drop shadow otherwise it gets clipped in certain cases. */
/* Top Half of card, image. */
.property-image
{
  height:6em;
  width:14em;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-size:cover;
  background-repeat:no-repeat;
}
/* Bottom Card Section */
.property-description
{
  background-color: #FAFAFC;
  height:12em;
  width:14em;
  position:absolute;
  bottom:0em;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 0.5em 1em;
  padding-top: 20px;
  text-align:center;
  
}


/* Property Cards Hover States */
.property-card:hover .property-description
{
  height:0em;
  padding:0px 1em;
}
.property-card:hover .property-image
{
  height:18em;
}
.property-card:hover .property-social-icons
{
  background-color:white;
}
.property-card:hover .property-social-icons:hover
{
  cursor:pointer;
}