h1{
  font-family: helvetica,sans-serif;
  font-weight: 900;
  color: white;
  text-align: center;
  letter-spacing: .01em;
  margin-bottom: 30px;
}
#feedback-page{
	text-align:center;
}
#form-main{
	width:100%;
	float:left;
	padding-top:0px;
}
#form-div {
	background-color: rgba(0, 0, 0, 0.7);
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 20px;
  padding-bottom: 50px;
  width: 450px;
  float: left;
  left: 50%;
  position: absolute;
  margin-top: 30px;
  margin-left: -260px;
  margin-bottom: 30px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}
textarea{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	border-radius: 0;
	vertical-align: middle;
  background-color: rgb(217, 217, 217);
	padding: 13px 13px 13px 13px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 2px solid #bdc3c7;
}
.feedback-input {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	border-radius: 0;
	vertical-align: middle;
  background-color: rgb(217, 217, 217);
	padding: 13px 13px 13px 13px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 2px solid #bdc3c7;
}
.feedback-input:focus{
	background: white;
	box-shadow: 0;
	border: 2px solid rgba(92, 113, 134, 0.9);
	color:rgba(92, 113, 134, 0.9);
	outline: none;
  padding: 13px 13px 13px 13px;
}
.focused{
	color: rgba(92, 113, 134, 0.9);
	border:	rgba(92, 113, 134, 0.9) solid 3px;
}
input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}
#submit-button{
	font-family: webfontbold, Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
  border: 2px solid #bdc3c7;
	cursor:pointer;
	background-color:white;
	color: rgba(52, 73, 94,0.9);
	font-size:24px;
	padding-top:10px;
	padding-bottom:10px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin-top: 4%;
}
#submit-button:hover{
	background-color: rgba(204, 204, 204,0.9);
	color: rgba(92, 113, 134, 0.9);
}
.submit:hover{
	color: rgba(149, 165, 166,0.9);
}
.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}
.submit:hover .ease{
  width:100%;
  background-color:white;
}
@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}
label {
  float: left;
  padding: 4px;
  color: white;
  font-weight: lighter;
  font-size: large;
}