<link rel="stylesheet" href="/css/profile.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

 <div id="main">
  <header>
    <h1>This is your pretty uploads:</h1>
  </header>
   <div class="progress-bar">
      <div class="progress-bar-inner" style="width:35%;"></div>
    </div>
  <div id="content">
    <h1>Your Books</h1>
   <div class="userbook">
    <div class="whole-book-box">

      <section class="book-image">
         <img src="http://gahag.net/img/201608/26s/gahag-0119028908-1.png"/ height="230">
      </section>

      <article class="book-detail">
        <h3>Book Name</h3>
       <p class="book-price">100 pages</p>
       <a href="#" class="perchase-button">
        <i class="fas fa-trash"></i>
         delete</a>
      </article>

    </div>

   <div class="whole-book-box">
    <section class="book-image">
       <img src="http://gahag.net/img/201608/26s/gahag-0119028908-1.png"/ height="230">
    </section>
    <article class="book-detail">
      <h3>Book Name</h3>
     <p class="book-price">100 pages</p>
     <a href="#" class="perchase-button">
  <i class="fas fa-trash"></i>
       delete</a>
    </article>
 </div>

</div>
<br>

    <h1 class="pquote">Quotes:</h1>
    <div class="posts">
      <div class="post">
        
    <div class="message">
        <div class="box">
            <div class="body">
              <p>"Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua."</p>
            </div>
            <div class="footer">
                <li>12 hours ago 	&nbsp;  | 	&nbsp; <i class="fas fa-trash"></i></li>
                

            </div>
          </div>
        </div>
    </div>
      

      
      </div>
   
    </div>
  </div>
</div>