
<link rel="stylesheet" href="/css/QuoteBookSetting-Create.css" />


<form method="POST" action="/book/create" enctype="multipart/form-data"  >
  <div id="form-main">
    <div id="form-div">
        <h1>Create Book</h1>

      <form class="form" id="form1">
        <label>Book Name</label>
        <p>
          <input name="bookName" type="text" class="feedback-input" />
        </p>
        <label>Description</label>
        <p>
          <textarea name="description" type="text"></textarea>
        </p>
        <label>Pages Count</label>
        <p>
            <input name="pagesCount" type="text" class="feedback-input" />
        </p>

        <label>Book link</label>
        <p>
            <input name="booklink" type="url" class="feedback-input" />
        </p>

        <label>Book Image</label>
        <p>
          <input name="imageupload" type="file" class="feedback-input" />
        </p>



          <input type="submit" value="Create Book" id="submit-button" />

       
    </div>

    
</form>