<a href="/quote">Go Back</a>
<form method="POST" action="/book/create" enctype="multipart/form-data" >
<div>
    <label>bookName: </label>
    <input name= "bookName" />
</div>
<div>
    <label>description: </label>
    <input name="description" />
</div>
<div>
    <label> pagesCount: </label>
    <input type="text" name = "pagesCount" />
</div>
<div>
    <label>Image: </label>
    <input type="file" name="imageupload">
</div>
<button type="submit">Create Book</button>
</form>