<a href="/quotes">Go Back</a>
<form method="POST" action="/quote/create" >
    <div>
        <label>quote: </label>
        <input name="quote" />
    </div>
    <div>
        <label>auther: </label>
        <input name="auther" />
    </div>
    <button type="submit">Create Quote</button>
</form>