<link rel="stylesheet" href="/css/QuoteBookSetting-Create.css" />


<form method="POST" action="/quote/create" enctype="multipart/form-data"  >
  <div id="form-main">
    <div id="form-div">
      <h1>Create Quote</h1>

      <form class="form" id="form1">
        <label>Quote</label>
        <p>
          <input name="quote" type="text" class="feedback-input" />
        </p>
        <label>Auther</label>
        <p>
          <input name="auther" type="text" class="feedback-input" />
        </p>

        <label>Quote Image</label>
        <p>
          <input name="imageupload" type="file" class="feedback-input" />
        </p>



        <input type="submit" value="Create Quote" id="submit-button" />


    </div>
</form>