<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<br> <br> <br>
  <h1 class="qh1">  </h1>
    <div class="qouteindex">
    <% quotes.forEach(function(quote){ %>
    <div class="center">
        <div class="property-card">
          <a href="/quote/create">
            <div >
                <img class="property-image" src="<%= quote.imageupload %>"> 
            </div>
        </a>
          <div class="property-description">
            <p class="qp"> <%= quote.quote %> </p><br>
            <h2 class="qh2"> <%= quote.auther %> </h2>
          </div>
        </div>
    </div>
      <% }) %>
    </div>